<ion-view name="combo-detalle" view-title="Detalle">
    <ion-content class="padding">
        <div><img class="miniatura center-image" src="{{combo.imagen}}"></div>
        <div class="card">
            <div class="item item-divider">
                <h2 class="format">{{combo.nombre}}</p>
            </div>
            <div class="item item-text-wrap">
                <p class="format">{{combo.descripcion}}</p>
            </div>
            <div class="item item-divider">
                <label class="format">${{combo.precio}}</label>
            </div>
        </div>
        <button class="button button-block button-balanced">
                <h2 class="format padding-top" style="color: white;">Enviar Orden</h2>
        </button>
    </ion-content>
</ion-view>