<ion-view name="tab-home" view-title="Bienvenido">
  <ion-content>
    <!-- Banner -->
    <div id="container">
      <div class="banner">
        <div class="banner-logo">
          <!-- <h1 style="color:white;" class="format">que pedo</h1> -->
          <!-- <img class="banner-logo" style="padding:0;" src=""> -->
          <img class="banner-logo" style="padding:0;" src="../img/logo.png">
        </div>
      </div>
      <div id="body">
        <h1 class="format padding font-effect-3d-float">Bienvenido a la mejor pizzeria de El Salvador</h1>

        <p class="format" id="p-home">Estamos para atenderte y servirte lo mejor posible.
          En los tabs inferiores puedes acceder a nuestros combos, así también revisar tus órdenes y visualizar
          información acerca de los desarrolladores.<br>
          ¡Es un gusto tenerte con nosotros!
        </p>
      </div>

      <div id="footer">
        <hr>
        <p id="sub">Desarrollado por Grupo 3 - Copyright &copy; 2018</p>
      </div>
    </div>
    <!--
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Equipo 3</h1>
    </div>
    <div class="divider"></div>
    <br>
    <ion-grid>
      <ion-item ui-sref="tab.home-descripcion" class="item-text-wrap" style="padding:5 !important;" >
          <div class="row">
            <img src="img/Logo.jpeg" id="logo">
          </div>
          <div class="padding-card">
            <h2 class="format">Bienvenido a la mejor pizzería de El Salvador, estamos para atenderte y servirte lo mejor posible.
              <br>En los tabs inferiores puedes acceder a nuestros combos, así también revisar tus órdenes y visualizar información acerca de los desarrolladores.
              ¡Es un gusto tenerte con nosotros!
            </h2>
            
          </div>
          <div class="row">
            <img src="img/PizzaRoni.jpg" id="local">
          </div>
      </ion-item>
    </ion-grid> -->
  </ion-content>
</ion-view>