<!---
<ion-view name="tab-combos" view-title="Combos">
  <ion-content >
    <div class="item item-dividerx"></div>
    <div class="list">
      <a class="item item-thumbnail-left item-icon-right" ng-repeat="combo in combos" ui-sref="tab.combo-detalle({id: $index})">
        <img src="{{combo.imagen}}">
        <h2>{{combo.nombre}}</h2>
        <p>{{combo.precio}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
-->
<ion-view name="tab-combos" view-title="Combos">
  <ion-content >
    <div class="item item-divider"></div>
    <ion-grid>
      <ion-item ng-repeat="combo in combos" ui-sref="tab.combo-detalle({id: $index})" class="item-text-wrap" style="padding:5 !important;" >
        <div class="row" style="padding:0;">
          <div class="col-40">
            <img src="{{combo.imagen}}" height="100px" width="100px">
          </div>
          <div class="col-60 padding-card">
            <h2 class="format">{{combo.nombre}}</h2>
            <label class="format">$ {{combo.precio}}</label>
          </div>
        </div>
      </ion-item>
    </ion-grid>
  </ion-content>
</ion-view>

