<ion-view name="tab-home" view-title="Bienvenido">
  <ion-content>
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Equipo 3</h1>
    </div>
    <div class="divider"></div>
    <br>
    <ion-grid>
      <ion-item ui-sref="tab.home-descripcion" class="item-text-wrap" style="padding:5 !important;" >
          <div class="row">
            <img src="img/PizzaRoni.jpg">
          </div>
          <div class="padding-card">
            <h2 class="format">Bienvenido a la mejor pizzería de El Salvador, estamos para atenderte y servirte lo mejor posible.
              <br>En los tabs inferiores puedes acceder a nuestros combos, así también revisar tus órdenes y visualizar información acerca de los desarrolladores.
              ¡Es un gusto tenerte con nosotros!
            </h2>
            
          </div>
          <div class="row">
            <img src="img/imagen.jpg">
          </div>
      </ion-item>
    </ion-grid>
  </ion-content>
</ion-view>