<ion-view name="combo-detalle" view-title="Combos">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="combo in combos" ui-sref="tab.combo-detalle({id: $index})">
        <img src="{{combo.imagen}}">
        <h2>{{combo.nombre}}</h2>
        <p>{{combo.precio}}</p>
        <p>{{$index}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>

<!--- OTRA FORMA:
<ion-view view-title="Combos">
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="combo in combos" href="#/tab/combos/{{combos.id}}">
        <img ng-src="{{combos.imagen}}">
        <h2>{{combos.nombre}}</h2>
        <p>$ {{combos.precio}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->