
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300,700&effect=3d-float');
h1.format{  
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color:black;
    padding-top:15px;
}

h2.format,h3.format{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2.format{  
    
    font-size: 20px;
}

h3.format{ 
    font-size: 16px;
}

#sub{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

label.format{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

p.format {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    /*padding-top: 5px;*/
}


div.padding-card{
    padding-top: 15px;
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.miniatura{
    width: 150px;
    height: 100px
}

#p-home{
    padding: 0 15px 150px 15px;
    text-align: center;
}

#body{
    padding-bottom: 10px;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding:0px;
    background:white;
}

#container{
    min-height: 100%;
    position: relative;
}

.img-center {
    margin: auto;
    padding: 5px 25px 5px 35px;
}

.avatar-integrante{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

#logo, #local{
    margin: auto;
    padding: 5px 25px 5px 35px;
}

#logo{
    width: 350px;
    height: 300px;
    padding: 5px 20px 5px 10px;
}

#local{
    width: 350px;
    height: 350px;
    padding: 5px 20px 5px 10px;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/bg.jpg");
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-logo{
    text-align:center;
    position: absolute;
    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

